h1 {
    text-align: center;
}
fav-links {
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: darkgoldenrod;
}
